<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0">
	<title>Viewportify</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/assets/style.css">
	{% block meta %}{% endblock %}
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-119040-21', 'auto');
	  ga('send', 'pageview');
	</script>
</head>
<body>

{% block header %}{% endblock %}

{% block content %}{% endblock %}

<div class="footer">
	<div class="container">
	Made on a whim by <a href="http://twitter.com/philhawksworth">@philhawksworth</a> because the <a href="http://hawksworx.com/blog/the-shapes-of-web-views/">web is squishy</a>
	</div>
</div>
  {% block scripts %}{% endblock %}
{% block data %}{% endblock %}

</body>
</html>
