{% extends 'base.html' %}

{% block meta %}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@philhawksworth">
<!-- <meta name="twitter:creator" content="@philhawksworth"> -->
<meta name="twitter:title" content="Browser sizes used to view {{ graph.url }}.">
<meta name="twitter:description" content="The web is viewed in all shapes and sizes. This graphic shows the most common viewport sizes used on {{ graph.url }}. Generate your own from your analytics data!">
<meta name="twitter:image:src" content="https://s3.amazonaws.com/{{ bucket }}/{{ graph.id }}.png">
<meta name="twitter:url" content="http://viewportify.hawksworx.com/graph/{{ graph.id }}" />
{% endblock %}



{% block header %}
<div class="header">
  <div class="container">
    <h1><a href="/" >viewportify</a></h1>
    <p class="strapline">The web is viewed in all shapes and sizes.</p>
    <p>
      <a href="/make" >Make another</a> | <a href="/" >See the gallery</a> | <a href="https://twitter.com/intent/tweet?text=A%20graph%20of%20the%20browser%20viewports%20used%20to%20access%20my%20site%3A%20&url=http%3A%2F%2Fviewportify.hawksworx.com%2Fgraph%2F{{ graph.id }}&hashtags=RWD">Tweet this</a>
    </p>
  </div>
</div>
{% endblock %}


{% block content %}
<canvas id="canvas" width="200" height="100"></canvas>
<img src="" id="output" class="graph" />
{% endblock %}

{% block data %}
<script type="text/javascript" >
  var pageData = JSON.parse('{% autoescape false %}{{ graph.data }}{% endautoescape %}');
  vp.generateFromDataInPage()
</script>
{% endblock %}

{% block scripts %}
<script src="/assets/ocanvas-2.7.3.min.js" charset="utf-8"></script>
<script src="/assets/viewportify.js" charset="utf-8"></script>

{% endblock %}
