{% extends 'base.html' %}


{% block header %}
<div class="intro">
  <div class="container">
    <h1>viewportify</h1>
    <p class="strapline">The web is viewed in all shapes and sizes.</p>
    <p>
       This is a collection of visualisations of some of the screen resolutions used to view sites around the web, based on anlytics data.
    </p>
    <a href="/make" class="button make">Make your own to download and add to the gallery</a>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="gallery">
  {% for image in thumbs %}
  <a href="/graph/{{ image|replace('.png','') }}"><img src="/graphs/{{ image }}" alt="" /></a>
  {% endfor %}
</div>
{% endblock %}
