{% extends 'base.html' %}


{% block header %}
<div class="header">
  <div class="container">
    <h1><a href="/" >viewportify</a></h1>
    <p class="strapline">The web is viewed in all shapes and sizes.</p>
    <p>
       This is a collection of visualisations of screen resolutions used to view sites around the web, based on anlytics data.
    </p>
    <a href="/make" class="button make">Make your own to download and add to the gallery</a>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="gallery">
  {% for graph in graphs %}
  <div class="thumbnail">
  <a href="/graph/{{ graph.id }}">
    <img src="https://s3.amazonaws.com/{{ bucket }}/{{ graph.id }}.png" alt="" />
    <span>{{ graph.url }}</span>
  </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
