{% extends 'base.html' %}

{% block meta %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@philhawksworth">
<meta name="twitter:title" content="Browser sizes used to view viewportify.hawksworx.com">
<meta name="twitter:description" content="The web is viewed in all shapes and sizes. This graphic shows the most common viewport sizes used on viewportify.hawksworx.com. Generate your own from your analytics data!">
<meta name="twitter:image:src" content="https://s3.amazonaws.com/graphs.viewports.hawksworx.com/viewportify.png">
<meta name="twitter:url" content="http://viewportify.hawksworx.com/graph/5erPoC" />
{% endblock %}

{% block header %}
<div class="header">
  <div class="container">
    <h1><a href="/" >viewportify</a></h1>
    <p class="strapline">The web is viewed in all shapes and sizes.</p>
    <p>
       This is a collection of visualisations of screen resolutions used to view sites around the web, based on anlytics data.
    </p>
    <a href="/make" class="button make">Make your own to download and add to the gallery</a>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="gallery">
  {% for graph in graphs %}
  <div class="thumbnail">
  <a href="/graph/{{ graph.id }}">
    <img src="https://s3.amazonaws.com/{{ bucket }}/{{ graph.id }}.png" alt="" />
  </a>
  <span>{{ graph.url }}</span>
  </div>
  {% endfor %}
</div>
{% endblock %}
