{% extends 'base.html' %}

{% block meta %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@philhawksworth">
<meta name="twitter:title" content="Browser sizes used to view viewportify.hawksworx.com">
<meta name="twitter:description" content="The web is viewed in all shapes and sizes. This graphic shows the most common viewport sizes used on viewportify.hawksworx.com. Generate your own from your analytics data!">
<meta name="twitter:image:src" content="https://s3.amazonaws.com/graphs.viewports.hawksworx.com/viewportify.png">
<meta name="twitter:url" content="http://viewportify.hawksworx.com/graph/5erPoC" />
{% endblock %}


{% block header %}
<div class="header">
  <div class="container">
    <h1><a href="/" >viewportify</a></h1>
    <p class="strapline">The web is viewed in all shapes and sizes.</p>
    <p>
      <a href="/" >Gallery</a> | <a href="https://twitter.com/intent/tweet?text=A%20graph%20of%20the%20browser%20viewports%20used%20to%20access%20my%20site%3A%20&url=http%3A%2F%2Fviewportify.hawksworx.com%2Fgraph%2F{{ graph.id }}&hashtags=RWD">Tweet this</a>
    </p>
  </div>
</div>
{% endblock %}


{% block content %}

<div class="dark">
<form id="data" class="datagather" action="." onsubmit="vp.generateFromForm(); return false;" method="post">
  <div class="oauth">
    <a href="#" class="button oauth-btn">Get data from Google Analytics</a> or set the values manually below.
  </div>
  <div class="google">
    <label for="account">Accounts</label>
    <select name="accounts" id="accounts"></select>
    <label for="properties">Properties</label>
    <select name="properties" id="properties"></select>
    <label for="profiles">Profiles</label>
    <select name="profiles" id="profiles"></select>
  </div>
  
  <div class="controls">
    <label for="csv">Screen resolutions</label>
    <textarea name="csv" id="csv" rows="10" cols="20"></textarea>
    <div class="help">
      e.g.<br>
      1440x900<br>
      1920x1080<br>
      1280x1024<br>
      360x640<br>
      <a href="https://productforums.google.com/forum/#!topic/analytics/XV12Tibl0U8" target="_new">Getting these values manually from analytics</a>
    </div>
  </div>
  <div class="controls">
    <label for="url">Site URL</label><input type="text" name="url" id="url" placeholder="yoursite.com">
    <label for="colour">Colour (hex)</label><input type="text" name="colour" id="colour" placeholder="#000000">
    <label for="bgcolour">Background colour (hex)</label><input type="text" name="bgcolour" id="bgcolour" placeholder="#ffffff">
    <input type="submit" class="button submit" name="submit" value="Make my viewport visualisation">
  </div>
</form>
</div>
 <div class="canvasContainer">
   <canvas id="canvas" width="200" height="100"></canvas>
 </div>
 <div id="savestep" class="savestep">
   <p>preview</p>
 </div>
 <img src="" id="output" class="thumb" />
 <div id="savestep" class="savestep">
   <form id="saver" action="/make" onsubmit="vp.setPayload();" enctype="multipart/form-data" method="post">
     <input type="hidden" name="data" id="graphData" value="">
     <input type="hidden" name="thumbnail" id="thumbnail" value="">
     <input type="submit" name="submit" class="button" value="I like it! Add this image to the gallery and give me a page with a BIG version">
     <p class="help">or tinker with the settings above to create a more pleasing graph before saving it.</p>
   </form>
 </div>


{% endblock %}

{% block scripts %}
<script>
  var googleAuth = {
    response_type: 'token',
    client_id: '685894574351-iuik242jshirh08grs8v2beqc9e8j51k.apps.googleusercontent.com',
    redirect_uri: window.location.href.split('#')[0],
    scope: 'https://www.googleapis.com/auth/analytics.readonly',
    state: '',
    approval_prompt: 'auto'
  };
</script>
<script src="/assets/ocanvas-2.7.3.min.js" charset="utf-8"></script>
<script src="/assets/viewportify.js" charset="utf-8"></script>
<script src="/assets/user.js" charset="utf-8"></script>
{% endblock %}
