{% extends 'base.html' %}


{% block header %}
<div class="header">
  <div class="container">
    <h1><a href="/" >viewportify</a></h1>
    <p class="strapline">The web is viewed in all shapes and sizes.</p>
  </div>
</div>
{% endblock %}


{% block content %}

<div class="dark">
<form id="data" class="datagather" action="." onsubmit="vp.generateFromForm(); return false;" method="post">
  <div class="controls">
    <label for="csv">Screen resolutions</label>
      <textarea name="csv" id="csv" rows="10" cols="20"></textarea>
    <div class="help">
      e.g.<br>
      1440x900<br>
      1920x1080<br>
      1280x1024<br>
      360x640<br>
      <a href="https://productforums.google.com/forum/#!topic/analytics/XV12Tibl0U8" target="_new">Getting these values from analytics</a>
    </div>
  </div>
  <div class="controls">
    <label for="url">Site URL</label><input type="text" name="url" id="url" placeholder="yoursite.com">
    <label for="colour">Colour (hex)</label><input type="text" name="colour" id="colour" placeholder="#000000">
    <label for="bgcolour">Background colour (hex)</label><input type="text" name="bgcolour" id="bgcolour" placeholder="#ffffff">
    <input type="submit" class="button submit" name="submit" value="Make my viewport visualisation">
  </div>
</form>
</div>
 <div class="canvasContainer">
   <canvas id="canvas" width="200" height="100"></canvas>
 </div>
 <div id="savestep" class="savestep">
   <p>preview</p>
 </div>
 <img src="" id="output" class="thumb" />
 <div id="savestep" class="savestep">
   <form id="saver" action="/make" onsubmit="vp.setPayload();" enctype="multipart/form-data" method="post">
     <input type="hidden" name="data" id="graphData" value="">
     <input type="hidden" name="thumbnail" id="thumbnail" value="">
     <input type="submit" name="submit" class="button" value="I like it! Add this image to the gallery and give me a page with a BIG version">
   </form>
 </div>


{% endblock %}

{% block scripts %}
<script src="/assets/ocanvas-2.7.3.min.js" charset="utf-8"></script>
<script src="/assets/viewportify.js" charset="utf-8"></script>
{% endblock %}
