* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font: normal 16px/1.4 georgia, serif;
  color: #333;
  text-align: center;
}


h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2.5em;
  font-style: italic;
  text-shadow: 0px -1px 8px rgba(0,0,0,1);
}

.header a:link,
.header a:visited {
  color: #22bbee;
}
.header a:hover,
.header a:focus {
  color: #eee;
}

a.make:link,
a.make:visited {
 color: #333;
 text-decoration: none;
}

h1 a:link,
h1 a:visited {
 color: #fff;
 text-decoration: none;
}
h1 a:hover,
h1 a:focus {
 color: #22bbee;
}

p {
  margin: 0.5em 0;
}

.strapline {
  font-family: 'Roboto', sans-serif;
  margin:-0.3em 0 2em;
  font-size: 0.8em;
  font-style: italic;
  color:#ddd;
}



.button,
.button:link,
.button:visited {
    display: inline-block;
    color:#000;
    background-color: #22bbee;
    text-decoration: none;
    padding:1em;
    line-height: 1em;
    margin: 1em;
    border-style: none;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.7);
    text-shadow: 0px -1px 0 rgba(255,255,255,0.15);
  }
.button:hover,
.button:focus {
    background-color: #ffffff;
  }

.submit {
  font-family: georgia;
  font-size:0.9em;
    display: block;
    margin: 0.4em 0;
    color:#000;
    background-color: #22bbee;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    /*text-shadow: 0px -1px 0 rgba(255,255,255,0.15);*/
  }
.submit:hover,
.submit:focus {
    background-color: #333;
    color:#fff;
    text-shadow: 0px -1px 0 rgba(255,255,255,0);
  }



#saver {
  margin: 1em auto;
  width: 80%;
  text-align: center;
}

#saver .submit {
  margin: 0 auto;
}


.container {
  width: 80%;
  margin: 0 auto;
}

.dark {
  background: #292929;
}

.header {
  padding: 10px;
  background: #292929;
  color: #fff;
  text-align: center;
  font-size: 0.9em;
}


.footer {
  font-size:0.8em;
  padding: 40px;
  margin-top: 0;
  background: #292929;
  color: #ccc;
  text-align: center;
}

.footer a:link,
.footer a:visited {
  color: #fff;
}


.datagather {
  background-color: #eee;
  padding: 1em;
  margin: 1em 0 3em 0;
  border-radius: 4px;
  display:inline-block;
  vertical-align: top;
}

.controls {
  display:inline-block;
  text-align: left;
  vertical-align: top;
  margin: 1em 1em 0;
}

textarea,
input[type='text'] {
  font-size:0.9em;
  font-family: sans-serif;
  padding:0.2em 0.5em;
  background-color:#fff;
  border:solid 1px #ccc;
  color:#444;
  margin-bottom:1em;
  width: 100%;
}
textarea {
  margin-bottom: 0;
}
label,
.help {
  display: block;
  font-size:0.8em;
  font-style: italic;
  color:#999;
}
.help {
  margin: 0.2em;
  padding: 0;
}



.thumb {
  width:300px;
}
.graph {
  width:80%;
  margin:2em;
}

.canvasContainer{
  margin:0;
  padding:0;
}
#canvas {
  display:none;
  margin:0;
  padding:0;
}

.savestep {
  display: none;
}

.gallery {
  margin: 30px 0;
}
.gallery img {
  width:280px;
  margin:0;
  padding:0;
  vertical-align:middle;
}
.gallery a {
  margin:0;
  padding:0;
}
.gallery span {
  display: block;
  margin-top: 0.6em;
}
.gallery .thumbnail {
  display: inline-block;
  margin: 20px;
}

